* {
    padding: 0;
    margin: 0;
    user-select: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    overflow: hidden;
    background-color: white;
}

#stage {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(./imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#game {
    width: 100%;
    height: 100%;
    position: absolute;
}
#ui {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

/* 分数的样式 */
#ui .score-ui {
    width: 120px;
    height: 40px;
    margin-left: 20;
    line-height: 40px;
    border-bottom: solid 2px #40c061;
    padding: 5px;
}

#ui .score-ui img {
    width: 40px;
    height: 40px;
}

#ui .score-ui span {
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 80px;
}

#ui #start-alert {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
}
#start-alert .game-desc {
    width: 80%;
    margin: 100px auto;
    text-align: center;
}
#start-alert .game-desc .logo {
    width: 300px;
}
#start-alert .game-desc p {
    width: 300px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    margin-top: 20px;
}
#start-alert footer {
    text-align: center;
    color: white;
}
#start-alert footer #start-btn {
    font-size: 36px;
    text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px #b6ff00,
    0 0 7px #b6ff00,
    0 0 10px #b6ff00,
    0 0 15px #b6ff00
                
}
#start-alert footer p::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    margin-left: -20px;
    background-image: url(./imgs/virus.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .7;
}

/* 游戏结束的样式 */
/* 任务失败的样式 */
#game-over-alert {
    width: 240px;
    height: 80px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -100px;
    z-index: 30;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
}
#game-over-alert h1 {
    width: 150px;
    margin: 0 auto;
    margin-top: -40px;
    text-shadow: 0 0 15px rgb(85, 255, 227);
}
#game-over-alert #restart-btn {
    font-size: 24px;
    margin-top: 20px;
}


